$accent: #FF5D04;
.table{
    width: 100%;
    border-radius: 12px;
    border: 1px solid #E5E5E5;
    border-top: 17px solid $accent;
    margin-bottom: 45px;
    .tableRow{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:nth-child(2n){
            background-color: #FAFAFA;
        }
        span{
            &:first-child{
                border-right: .5px solid #E5E5E5;
            }
        }
    }
    .tableRowSubTitle{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        color: #23262A;
        font-weight: 700;
        font-size: 23px;
        background-color: $accent;
        color: #Fff;
        .tableItem{
            &:first-child{
                font-weight: 700;
                color: #fff;
                border-right: .5px solid #E5E5E5;
            }
        }
    }
    .tableTitle{
        width: 50%;
        padding: 17px 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 700;
        text-align: left;
        font-size: 23px;
    }
    .tableItem{
        padding: 17px 32px;
        width: 50%;
        font-size: 19px;
        text-align: left;
        &:first-child{
            font-weight: 700;
            color: $accent;
            border-right: .5px solid #E5E5E5;
        }
        &:last-child{
            font-weight: 400;
        }

    }
}
.selectBox{
    max-width: 270px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    select{
        width: 100%;
        padding: 8px;
        border-radius: 10px;
        border-color: #cbcbcb;
        background-color: $accent;
        color: #fff;
        font-weight: 600;
        height: 45px;
        &:focus-visible{
            outline: none;
        }
    }
}
@media (max-width: 1440px){
    .table{
        width: 95%;
        max-width: 1030px;
        margin: 0 auto 40px;
        .tableTitle{
            font-size: 19px;
            padding: 14px 28px;
        }
        .tableItem{
            font-size: 16px;
            padding: 14px 28px;
        }
    }
    
    
}
@media (max-width: 992px){
    .table{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #E5E5E5;
        border-top: 10px solid $accent;
        
        .tableRowSubTitle{
            
            font-size: 16px;

            .tableItem{
                &:first-child{
                    font-weight: 700;
                    color: #fff;
                    border-right: .5px solid #E5E5E5;
                }
            }
        }
        .tableTitle{
            padding: 12px 8px;
            
            font-size: 16px;
            &:first-child{
                font-size: 14px;
            }
        }
        .tableItem{
            padding: 14px 8px;
            width: 50%;
            font-size: 16px;
            text-align: left;
            &:first-child{
                font-weight: 700;
                color: $accent;
                border-right: .5px solid #E5E5E5;
            }
            &:last-child{
                font-weight: 400;
            }
    
        }
    }
}